body{
  height: 60%;
}

header{
  height: 20%;
  background-color:#3300FF ;
}

footer{
  height: 20%;
  background-color:#3300FF ;
}

h1{
  font-family:Lucida Sans Unicode;
  font-weight: normal;
}

main-content{
  background-color:#F8F8F8 ;
}
