body{
  height: 60%;
}

header{
  height: 20%;
  background-color:#3300FF
  color:white;
}

footer{
  height: 20%;
  background-color:#3300FF
  color:white;
}

h1{
  font-family:"Lucida Sans Unicode", Helvetica, sans-serif ;
  font-weight: normal;
}

main-content{
  background-color:#F8F8F8 
  color:black;
}
